<header class="header">

  <div class="banner">
<!--    <video autoplay muted loop>-->
<!--      <source src="../../../assets/video/bg.mp4" type="video/mp4">-->
<!--    </video>-->

  <div class="container">

    <div class="header__contact">
      <img src="../../../assets/img/smile.png" class="img" alt="">
      <div class="header__contact-info">
        <div class="header__contact-info-site">Завтрак<span class="header__contact-info-36">36</span>.ру</div>
        <div class="header__contact-info-phone"><span class="icon-phonelocal_phone"></span> 8 800 100-00-00</div>
      </div>
      <div class="header__contact-desc">Доставка завтраков по всему Воронежу</div>
    </div>
<!--    Яичница на завтрак – это идеальное начало дня. А все потому, что это блюдо не только очень вкусное, но еще и полезное, благодаря высокому содержанию витаминов и минералов, а также очень питательное, надолго утоляющее голод и насыщающее организм энергией. Особенно, если дополнить яичницу тостами и свежими овощами или зеленью.-->
</div>

  </div>
</header>
<div class="line"></div>

