
<div class="container">
  <h3>Контакты</h3>
  <div class="address">
    Завтрак36.ru<br />
    Адрес: г. Воронеж, Плехановская, д. 17/5 <br />
    Телефон: +8 800 100-00-00
  </div>

<!--  <div class="social">-->
<!--    Мы в социальных сетях-->
<!--    <ul>-->
<!--      <li><a class="social-button" href="#">Вконтакте</a></li>-->
<!--      <li><a class="social-button" href="#">Фейсбук</a></li>-->
<!--      <li><a class="social-button" href="#">Инстаграм</a></li>-->
<!--  </ul>-->
<!--  </div>-->
</div>
